/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f8ff, #e6f7ff);
    color: #333;
}

h1, h2, h3 {
    color: #00509e;
    text-align: center;
}

p, a {
    margin: 0 20px;
}

/* Navigation Links */
a {
    display: block;
    margin: 2.5px 5px;
    padding: 10px 10px;
    background-color: #00509e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #003f7f;
}

/* Section Styling */
section {
    margin: 10px auto;
    padding: 10px;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #00509e;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Back Button Styles */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #00509e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #003f7f;
}

iframe,img {
    display: block;
    align-items: center;
    justify-content:flex-end;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}